# Introduction
You are hired as a data scientist by Zomato. In order for Zomato make certain decisions about their organizational operations in the city of Ahmedabad they need insights from the data about restaurants that they have calculated. Your job will be to address the questions asked by the operations team and answer them by providing concrete visualisations for your conclusions.

# Loading Data and Depdendencies

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [ ]:
# --- Additional Imports Go Here --- #

In [4]:
FILE_PATH = "../Datasets/Ahmedabad.csv"
zomato_data = pd.read_csv(FILE_PATH, sep='|')

# Basic Dataset Overview

In [6]:
zomato_data.head()

,Unnamed: 0,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
0,0,Eat Punjab,750,"North Indian,Chinese,Fast Food",Ahmedabad,Chandkheda,https://www.zomato.com/ahmedabad/eat-punjab-ch...,1,Casual Dining,"1030am to 330pm,630pm to 1130pm(Mon-Sun)",Good,3.7,1345
1,1,9834 The Fruit Truck,400,"Beverages,Desserts",Ahmedabad,Food Truck Park,https://www.zomato.com/9834-the-fruit-truck-fo...,1,Food Truck,9am to 1am(Mon-Sun),Very Good,4.4,561
2,2,The Esplendido Cafe,800,"Cafe,American,Italian,Chinese,Beverages",Ahmedabad,Navrangpura,https://www.zomato.com/ahmedabad/the-esplendid...,1,Café,"1130am to 1130pm(Mon-Tue),12noon to 1130pm...",Very Good,4.4,1013
3,3,Makeba - The Lounge Cafe,1000,"Cafe,Italian,Mexican,Healthy Food",Ahmedabad,Vastrapur,https://www.zomato.com/ahmedabad/makeba-the-lo...,1,Café,12noon to 12midnight(Mon-Sun),Very Good,4.2,399
4,4,Honest,700,"North Indian,South Indian,Fast Food,Chinese",Ahmedabad,Prahlad Nagar,https://www.zomato.com/ahmedabad/honest-prahla...,1,Casual Dining,11am to 12midnight(Mon-Sun),Good,3.9,832

In [9]:
zomato_data.dtypes

Unnamed: 0          int64
NAME               object
PRICE               int64
CUSINE_CATEGORY    object
CITY               object
REGION             object
URL                object
PAGE NO             int64
CUSINE TYPE        object
TIMING             object
RATING_TYPE        object
RATING             object
VOTES              object
dtype: object

In [11]:
zomato_data.describe()

        Unnamed: 0        PRICE      PAGE NO
count  2598.000000  2598.000000  2598.000000
mean      6.993072   412.247883    87.407621
std       4.323725   223.989686    50.377571
min       0.000000     0.000000     1.000000
25%       3.000000   250.000000    44.000000
50%       7.000000   400.000000    87.000000
75%      11.000000   500.000000   131.000000
max      14.000000  1900.000000   175.000000

# Areas and Prices
The operations team would like to see which areas house the costliest restaurants and which areas have the cheapest restaurants. Can you provide suitable visualisations and metrics for the same?

In [12]:
# --- Code Goes Here --- #

# Popularity Contest
The operations team would like to see which cuisine is the most popular of all the available cuisine categories. Can you provide suitable visualisations and metrics for the same?

In [13]:
# --- Code Goes Here --- #

# Price Tag
The operations team would like to know how the prices are distributed across all restaurants. Can you provide a suitable visualisation for the same?

In [14]:
# --- Code Goes Here --- #

# Like The Food, Hate The Bill
Does the type of cuisine being ordered affects the price of the food? If you can answer this question our discounts team will be able to come up with the right strategy to attract customers.

In [15]:
# --- Code Goes Here --- #

# 5 Star Rating Equals 5 Start Price
Does the rating of a restaurant affect the price of the food at the restaurant?

In [16]:
# --- Code Goes Here --- #

# Joh Dikhta Hain, Woh Bikta Hain
Does the rating of a restaurant affect the page number it will be displayed on? In order to explain peformance to our restaurant partners it would be important to look at this analysis.

In [17]:
# --- Code Goes Here --- #

# The World Is Your Oyster Now
Once you are done with the insights we've asked for, if you have any additional insights that you can derive from the data it would be really appreciated. If not no worries, sit back, relax and order from Zomato ;).

In [18]:
# --- Code Goes Here --- #